.App {
  text-align: center;
  background-color: #555;
  height: 100vh;
}
.fieldes {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-wrap: wrap;

  height: 300px;
  width: 300px;
}

.field {
  background-color: red;
  height: 100px;
  width: 100px;
}
